/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  scroll-behavior: smooth;
  --main-color: #52b035;
  --second-color: #545454;
  --bground-color: #444444;
}
body {
  font-family: "Noto Kufi Arabic", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* End Global Rules */
/* Start Nav */
header {
  background-color: var(--bground-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
nav {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
ul {
  display: flex;
}
nav img {
  max-width: 144px;
  height: 36px;
}
nav ul li a {
  color: #efefef;
  font-size: 15px;
}
nav ul li {
  padding: 5px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
nav ul li:not(li:has(img)):hover {
  background-color: #efefef94;
}
.login {
  border-radius: 3px;
  padding: 15px;
  margin: 10px;
  border: 1px solid #efefef94;
}
ul i.fa-bars {
  font-size: 30px;
}
/* Start Aside */
aside:nth-of-type(1) {
  z-index: 555;
  position: absolute;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  width: 320px;
  padding: 10px;
  padding-bottom: 70px;
  background-color: white;
  font-size: 17px;
  animation: aside 0.5s linear;
  -webkit-animation: aside 0.5s linear;
  display: none;
}
@keyframes aside {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes hideAside {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
aside:nth-of-type(1)::-webkit-scrollbar {
  width: 0.5em;
}
aside:nth-of-type(1)::-webkit-scrollbar-track {
  background-color: transparent;
}
aside:nth-of-type(1)::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
aside:nth-of-type(1) > div {
  width: 100%;
  color: var(--second-color);
  margin-bottom: 15px;
  text-align: right;
  padding: 15px;
}
aside:nth-of-type(1) > div > input {
  width: 100%;
  height: 100%;
  text-align: right;
  outline: none;
  border: none;
}
aside:nth-of-type(1) > div:nth-of-type(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.137);
}
aside:nth-of-type(1) > div > a {
  color: var(--second-color);
}
aside .fa-angle-left,
aside .fa-angle-down {
  position: absolute;
  left: 15px;
}
aside .types > div {
  margin: 25px 14px;
}
aside .types a {
  color: var(--second-color);
}
aside a:hover {
  color: var(--main-color) !important;
}
.hidden {
  display: none;
}
/* End Aside */
/* End Nav */
/* Start Landing */
.container1 {
  min-height: 100vh;
  background: url(../images/hero-33cc6eb8f1a98f8aacf154a4ff4c5f76d5610553e8ba4accb6d22515a64a184a.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing {
  text-align: center;
  line-height: 60px;
  width: 100%;
}
.landing h1 {
  font-size: 36px;
  font-weight: normal;
}
.landing h2 {
  font-size: 18px;
  font-weight: normal;
}
.container1 .more {
  cursor: pointer;
  position: absolute;
  font-size: 15px;
  text-align: center;
  bottom: 30px;
}
.container1 .more a {
  color: var(--main-color);
}
.landing .search1 {
  width: 63%;
  background-color: white;
  border-radius: 3px;
  margin: 40px auto;
  position: relative;
  border: 2px solid transparent;
}
.landing .search1 button {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 13px;
  outline: none;
  border: none;
  position: absolute;
  width: 80px;
  left: 5px;
  top: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.landing .search1 input {
  width: 100%;
  height: 100%;
  text-align: right;
  outline: none;
  border: none;
}
.landing .search1:focus-within {
  border-color: var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
  padding: 90px 20px;
  color: white;
}
.services h2,
.container2 h3,
section:nth-of-type(1) .asks > h3 {
  color: var(--main-color);
  font-size: 28px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 55px;
}
.serv-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.serv-section h3 {
  font-size: 25px;
  z-index: 3;
  font-weight: normal;
}
.serv-section .serv1 {
  background: url(../images/bussiness-2c1f54b0bd848ce232a972323a799f3abe75235eb4f00fb0180d4ede6ac390dd.jpg);
}
.serv-section .serv2 {
  background: url(../images/development-bb416454cb6338d96f266211eb8d2e10fc669ddb8470ee95eef00c841df903e8.jpg);
}
.serv-section .serv3 {
  background: url(../images/social-5598c2401b6ca90eda3df7c69c8c4727dcc937f8cc995096456d8a8773f4d324.jpg);
}
.serv-section .serv4 {
  background: url(../images/remote-64132428314c98f2e8abe5e4b98b3a03f215fdd04788b533f52171026fb30d70.jpg);
}
.serv-section .serv5 {
  background: url(../images/video-9b7fb5a1ae97544b32573e1625c5b12bb86e5fff9abfe4ae5ba7371ea86c41ae.jpg);
}
.serv-section .serv6 {
  background: url(../images/design-17881dc3ab0928311acc42761ff77c7e9a09e077c326fbc5d373e4fe1b5ad397.jpg);
}
.serv-section .serv7 {
  background: url(../images/audio-93508fbd03c4ca1a20eabc10ecbf7924161d61e7139878bc93641c310d195e13.jpg);
}
.serv-section .serv8 {
  background: url(../images/translate-ad-ad754e21fea72c69a11e1000903e1f848812bc20e3f1033d6e44f15c249dcd61.jpg);
}
.serv-section .serv {
  background-size: 100% 100%;
  min-width: 280px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.serv-section .serv::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.serv-section .serv:hover::after {
  opacity: 0;
}
/* End Services */
/* Start Bussiness */
.container2 {
  background-color: #eee;
  position: relative;
  padding: 60px 20px 180px;
}
.nested-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 40px;
}
.nested-action > div {
  background-color: white;
  width: 380px;
  height: 200px;
  padding-top: 45px;
  position: relative;
}
.nested-action > div > h2 {
  font-weight: normal;
  margin-bottom: 15px;
}
.nested-action > div > p {
  font-weight: lighter;
  font-size: 20px;
  padding: 0 30px;
}
.nested-action > div > span {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px 0 0;
  background-color: var(--main-color);
  bottom: -15px;
  left: 15px;
}
.nested-action > div > i {
  position: absolute;
  right: 25px;
  top: 60px;
  font-size: 20px;
}
.bussiness-servs {
  background-color: #eee;
}
.bussiness-servs .title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 40px;
  align-items: center;
}
.bussiness-servs .title > h4 {
  font-size: 18px;
  font-weight: normal;
  cursor: pointer;
}
.bussiness-servs .title > button {
  outline: none;
  border: 2px solid var(--main-color);
  padding: 10px;
  font-size: 15px;
  color: var(--main-color);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.bussiness-servs .title > button:hover {
  background-color: var(--main-color);
  color: white;
}
.bussiness-servs .bussiness-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.bussiness-servs .bussiness-one > div {
  width: 280px;
  height: 340px;
  font-size: 15px;
  line-height: 2;
  text-align: center;
  overflow: hidden;
}
.bussiness-servs .bussiness-one > div h4,
.bussiness-servs .bussiness-one > div h5 {
  font-weight: normal;
  line-height: 1.9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.bussiness-servs .bussiness-one > div h4:hover,
.bussiness-servs .bussiness-one > div h5:not(h5:nth-of-type(2)):hover {
  color: var(--main-color);
}
.bussiness-servs .bussiness-one > div i {
  color: orange;
}
.bussiness-servs .bussiness-one > div > img {
  width: 100%;
  height: 180px;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.bussiness-servs .bussiness-one > div > img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.8;
}
/* End Bussiness */
/* Start last Section  */
section:nth-of-type(1) {
  background-color: #eee;
}
section:nth-of-type(1) .asks {
  padding: 100px 50px;
}
section:nth-of-type(1) .asks .qustions > div {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.822);
  margin: 25px;
}
section:nth-of-type(1) .asks .qustions > div:hover {
  color: var(--main-color);
}
/* Safe Section */
.safe {
  color: white;
  font-size: 15px;
  height: 250px;
  background-color: var(--bground-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.safe button {
  margin-top: 35px;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.safe button:hover {
  background-color: #458532;
}
/* Social Section */
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 70px 20px;
  font-size: 15px;
}
.social div h3 {
  font-weight: normal;
  margin-bottom: 15px;
}
.social > div {
  padding: 10px;
  line-height: 2.5;
}
.social i {
  font-size: 35px;
  margin: 15px 5px;
  cursor: pointer;
}
.social div a {
  display: block;
  color: var(--main-color);
}
/* End last Section  */
/* Start Footer  */
footer {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.534);
  padding: 20px;
  flex-wrap: nowrap;
  gap: 30px;
  text-align: center;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer ul li a {
  color: rgba(0, 0, 0, 0.534);
  font-size: 15px;
}
/* End Footer */
/* Start Caption */
.main {
  padding: 50px 20px 20px 20px;
}
.main .logo {
  text-align: center;
  margin-bottom: 30px;
}
.main .logo img {
  width: 150px;
}
.main .caption {
  display: flex;
  font-size: 15px;
  line-height: 1.9;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.main .caption a {
  color: rgba(0, 0, 0, 0.603);
}
/* End Caption */
/* Responsive */
@media (max-width: 836px) {
  .mobile {
    display: none;
  }
  nav {
    height: 60px;
  }
  .landing .search1 {
    width: 85%;
    font-size: 16px;
  }
  nav img {
    width: 100px;
    height: auto;
  }
  .landing .search1 button {
    top: 8px;
  }
  footer {
    flex-wrap: wrap;
  }
}
